<% page_title "Page Not Found" %>

<%# 
  Note that we have to clear out the existing contents of
  the functions and html_head content because you can have
  an error occur in the view after stuff has been already
  set in those variables
%>

<% @content_for_functions = "" %>
<%= content_for :functions, "<h1>#{ page_title }</h1>".html_safe %>

<% @content_for_html_head = "" %>

<div class="alert alert-block">
  <p>There is no page at <%= @path %></p>
</div>