<% @page_title = @toolbar_title = "Edit '#{@view.name}' #{dynamic_view_type.name.titleize}" %>
<%= content_for :functions do %>
  <div class="btn-toolbar">
    <%= icon_link_to("List All", cms_index_path_for(dynamic_view_type), 'list', :class => "btn") %>
  </div>
<% end %>
<%= render :partial => 'form' %>