<div class="control-group">
  <label>Groups</label>
  <% Cms::Group.find(:all).each do |g| %>
    <div class="checkbox">
      <%= check_box_tag("group_ids[]", g.id, group_ids.include?(g.id), :id => "group_id_#{g.id}") %> <label for="group_id_<%= g.id -%>"><%= g.name %></label>
    </div>
  <% end %>
</div>