<li id="page_<%= page.id %>" class="page">
  <%= link_to_function action_icon('file'), {}, {:class => "page"} %>
  <span class="page<%= @selected_page == page ? ' selected_page' : '' %>"><%= page.name %></span>
</li>