.tag-label-list .label {
  display: block; float: left; width: 100px; overflow: hidden;
  margin: 3px 3px; text-align: center;
}

.tag-label-list .label:hover {
  background-color: #F89406;
  cursor: pointer;
}
