<% page_title "Administration / Email Messages" %>
<% @toolbar_title = "Email Messages" %>

<% if @messages.any? %>
  <table class="data table table-condensed table-hover" style="margin-top: 40px;">
    <thead>
      <tr>
        <th>To</th>
        <th style="width: 48%;">Subject</th>
        <th style="width: 20%;">Delivered</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message|%>
        <tr>
          <td><%= link_to truncate(message.recipients), message %></td>
          <td><%= link_to truncate(message.subject), message %></td>
          <td style="white-space: nowrap"><%= time_on_date(message.delivered_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <div class="alert alert-info">No email messages.</div>
<% end %>

<% if @messages.total_pages > 1 %>
  <%= render_pagination @messages, Cms::EmailMessage %>
<% end %>
