<% @toolbar_title = page_title "Edit Page Route" %>
<%= content_for :functions do %>
  <div class="btn-toolbar">
    <%= icon_link_to("List All", page_routes_path, 'list', :class => "btn") %>
  </div>
<% end %>
<%= render :partial => 'form' %>