<div class="control-group">
  <% if cms_options[:label] %>
    <%= f.label method, cms_options.delete(:label), {:class => "control-label"}.merge(cms_options) %>
  <% else %>
    <%= f.label method, :class => "control-label" %>
  <% end %>  
  <div class="controls">
    <%= f.drop_down method, choices, options, {:class => 'selectpicker'}.merge(html_options) %>
    <% if cms_options[:instructions] %>
      <span class="help-inline"><%= cms_options[:instructions] %></span>
    <% end %>    
  </div>
</div>