<div class="checkbox">
  <%= f.check_box( method, options ) %>
  <%= f.label method, cms_options[:label] %>
  <%= f.cms_instructions( cms_options[:instructions] ) if cms_options[:instructions] %>
</div>